:root {
  color-scheme: dark;
  --bg-primary: hsl(235, 10%, 20%);
  --bg-secondary: hsl(220, 5%, 10%);
  --text-primary: hsl(240, 15%, 95%);
  --hover-bg: hsl(235, 10%, 15%);
  --text-secondary: hsl(215, 15%, 85%);
  --scrollbar-bg: hsl(230, 7%, 70%);
  --border-color-primary: hsl(230, 10%, 50%);
}
