:root {
  color-scheme: dark;
  --bg-primary: hsl(225, 8%, 8%);
  --bg-secondary: hsl(225, 10%, 16%);
  --text-primary: hsl(225, 100%, 97%);
  --text-secondary: hsl(225, 25%, 87%);
  --hover-bg: hsl(225, 10%, 12%);
  --scrollbar-bg: hsl(225, 10%, 50%);
  --scrollbar-bg-hover: hsl(225, 10%, 65%);
  --border-color-primary: hsl(225, 15%, 50%);
  --accent-color: hsl(210, 75%, 50%);
}
