.add-form-wrapper {
  padding: 1rem;
}

.add-form {
  width: 100%;
  display: flex;
  align-items: center;
  border: 2px solid var(--border-color-primary);
  border-radius: var(--radius-primary);
  overflow: hidden;
  transition: border-color var(--transition-duration)
    var(--transition-timing-function);
}

.add-form:focus-within {
  border-color: var(--accent-color);
}

.add-input,
.add-button {
  background-color: transparent;
  outline: transparent;
  font-size: inherit;
  font-family: inherit;
  color: inherit;
}

.add-input {
  border: none;
  padding: 0.5em 1em;
  width: 100%;
}

.add-button {
  --size: calc(2rem + 4px);
  border-radius: calc(var(--radius-primary) / 2);
  margin: 2px;
}

.add-button::before,
.add-button::after {
  content: "";
  width: 50%;
  height: 2px;
  background-color: var(--border-color-primary);
  position: absolute;
}

.add-button::after {
  transform: rotate(90deg);
}

.add-button:hover::before,
.add-button:hover::after {
  background-color: var(--accent-color);
}

.add-button:focus-visible::before,
.add-button:focus-visible::after {
  background-color: var(--accent-color);
}

/* todo form */
.list-form {
  width: var(--content-width);
  margin-inline: auto;
}

.todo-form-wrapper {
  width: 100%;
  position: sticky;
  bottom: 0px;
  display: flex;
  justify-content: center;
  padding: 1rem 0rem;
  background-image: linear-gradient(transparent, var(--bg-primary) 40%);
}

.todo-form {
  width: var(--max-width);
  background-color: var(--bg-primary);
}
