.add-form-wrapper {
  padding: 1rem;
}

.add-form {
  width: 100%;
  display: flex;
  border: 2px solid var(--border-color-primary);
  border-radius: 0.25em;
  overflow: hidden;
}

.add-form:focus-within {
  border-color: var(--border-color-active);
}

.add-input,
.add-button {
  background-color: transparent;
  outline: transparent;
  font-size: inherit;
  font-family: inherit;
  color: inherit;
}

.add-input {
  border: none;
  padding: 0.5em 1em;
  width: 100%;
}

.add-button {
  flex-shrink: 0;
  width: calc(2.5em + 2px);
  height: calc(2.5em + 2px);
  border: 1px solid transparent;
  border-left-color: transparent;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 0.25rem;
}

.add-button:focus-visible {
  box-shadow: inset 0px 0px 0px 2px var(--border-color-active);
}

.add-button::before,
.add-button::after {
  content: "";
  width: 40%;
  height: 2px;
  background-color: var(--border-color-primary);
  position: absolute;
}

.add-button::after {
  transform: rotate(90deg);
}

.add-form:focus-within .add-button::before,
.add-form:focus-within .add-button::after {
  background-color: var(--border-color-active);
}

/* todo form */
.todo-form-wrapper {
  width: 100%;
  position: sticky;
  bottom: 0px;
  display: flex;
  justify-content: center;
  background-image: linear-gradient(transparent, var(--bg-primary) 60%);
}

.todo-form {
  width: calc(var(--max-width) - 2 * (1rem + 0.75rem - 2px));
  display: flex;
  background-color: var(--bg-primary);
}

@media screen and (max-width: 768px) {
  .todo-form {
    width: 100%;
  }
}
