.icon-button {
  --size: calc(2rem + 4px);
  width: var(--size);
  height: var(--size);
  background-color: transparent;
  outline: none;
  font-size: inherit;
  font-family: inherit;
  color: inherit;
  border: 2px solid transparent;
  border-radius: var(--radius-primary);
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  isolation: isolate;
  flex-shrink: 0;
  -webkit-tap-highlight-color: transparent;
  transition: background-color var(--transition-duration) ease;
}

.icon-button svg {
  --size: 100%;
  fill: var(--text-secondary);
  stroke: var(--text-secondary);
  width: var(--size);
  height: var(--size);
}

.icon-button:focus-visible {
  border-color: var(--accent-color);
}

.icon-button:hover svg {
  fill: var(--text-primary);
  stroke: var(--text-primary);
  position: absolute;
}

.click-animation-span {
  width: 0%;
  height: 0%;
  background-color: var(--click-bg);
  border-radius: inherit;
  position: absolute;
  z-index: -1;
  border: 2px solid transparent;
  animation: click-animation calc(2 * var(--transition-duration)) ease forwards;
}

@keyframes click-animation {
  25% {
    width: 100%;
    height: 100%;
  }

  75% {
    width: 100%;
    height: 100%;
    opacity: 1;
  }

  100% {
    width: 100%;
    height: 100%;
    opacity: 0;
  }
}
