.list-nav-wrapper {
  background-color: var(--bg-primary);
  border-bottom: 1px solid var(--bg-secondary);
  height: var(--nav-height, 3rem);
  z-index: 100;
}

.list-nav {
  width: var(--max-width);
  height: 100%;
  margin-inline: auto;
  display: flex;
  align-items: center;
}

.list-nav-button,
.theme-button {
  background-color: transparent;
  outline: transparent;
  font-size: inherit;
  font-family: inherit;
  color: inherit;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  --size: 2rem;
  width: var(--size);
  height: var(--size);
  cursor: pointer;
  flex-shrink: 0;
}

.list-nav-button {
  /* display: flex; */
  display: none;
  position: relative;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  margin-left: auto;
}

.theme-button-wrapper {
  flex-shrink: 0;
  z-index: 300;
  display: flex;
  align-items: center;
  justify-content: center;
}

.theme-circle {
  content: "";
  --size: 0;
  --theme-circle-bg: var(--bg-dark);
  --opacity: 1;
  width: var(--size);
  height: var(--size);
  background-color: var(--theme-circle-bg);
  opacity: var(--opacity);
  position: fixed;
  z-index: -1;
  border-radius: 100%;
  pointer-events: none;
  transition: all 750ms ease;
}

.theme-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.theme-button:focus-visible {
  border-color: var(--accent-color);
}

.theme-button svg {
  fill: var(--text-secondary);
  --size: 100%;
  width: var(--size);
  height: var(--size);
}

[data-theme-button="dark"] .light-theme-icon,
[data-theme-button="light"] .dark-theme-icon,
:root .dark-theme-icon {
  display: none;
}

[data-theme-button="dark"] .dark-theme-icon,
[data-theme-button="light"] .light-theme-icon {
  display: block;
}

[data-theme-button="dark"] .dark-theme-icon {
  fill: var(--bg-light);
}

[data-theme-button="light"] .light-theme-icon {
  fill: var(--bg-dark);
}

.list-nav-button:focus-visible {
  border-color: var(--accent-color);
}

.list-nav-button span {
  display: inline-block;
  width: 70%;
  height: 2px;
  background-color: currentColor;
}

.nav-active-list-span {
  opacity: 1;
  transition: opacity var(--transition-duration)
    var(--transition-timing-function);
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-inline: 1rem;
}

.nav-active-list-span-transparent,
.no-active-list-box .nav-active-list-span {
  opacity: 0;
}

@media screen and (max-width: 768px) {
  .list-nav-button {
    display: flex;
  }
}
