.lists-box {
  background-color: var(--bg-secondary);
  height: 100%;
  width: 300px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
}

.lists-heading {
  font-family: var(--font-secondary);
  padding-inline: 1rem;
  flex-shrink: 0;
}

.lists-heading h1 {
  border-bottom: 1px solid var(--border-color-primary);
  padding-block: 1rem;
  text-align: center;
}

.lists-wrapper {
  width: 100%;
  height: 100%;
  overflow: auto;
  list-style: none;
  padding: 1rem;
}

.list {
  --background-color: var(--bg-secondary);
  --padding-y: 0.5em;
  --line-height: 1.5em;
  --border-width: 1px;
  background-color: var(--background-color);
  min-height: calc(
    var(--line-height) + (2 * (var(--padding-y) + var(--border-width)))
  );
  padding: var(--padding-y) 1em;
  border-radius: 0.25em;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  outline: transparent;
  border: var(--border-width) solid transparent;
  background-clip: padding-box;
}

.list:hover {
  --background-color: var(--hover-bg);
}

.list.active-list {
  --background-color: var(--bg-primary);
}

.list:focus-visible {
  border-color: var(--border-color-active);
}

.list::after {
  content: "";
  background-image: linear-gradient(
    90deg,
    transparent,
    var(--background-color) 75%
  );
  width: 3em;
  height: 1.5em;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
