@media (hover: hover) {
  ::-webkit-scrollbar {
    width: 1rem;
  }

  ::-webkit-scrollbar-track {
    background-color: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: var(--scrollbar-bg);
    border: 0.25rem solid transparent;
    background-clip: content-box;
    border-radius: 100vmax;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: var(--scrollbar-bg-hover);
  }

  /* .lists-wrapper */
  .lists-wrapper::-webkit-scrollbar-thumb {
    background-color: transparent;
  }

  .lists-wrapper:hover::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-bg);
  }

  .lists-wrapper::-webkit-scrollbar-thumb:hover {
    background-color: var(--scrollbar-bg-hover);
  }
}
