/* .todos-box */
.todos-box::-webkit-scrollbar {
  width: 1rem;
}

.todos-box::-webkit-scrollbar-track {
  background-color: transparent;
}

.todos-box::-webkit-scrollbar-thumb {
  background: var(--scrollbar-bg);
  border: 0.25rem solid transparent;
  background-clip: content-box;
  border-radius: 100vmax;
}

.todos-box::-webkit-scrollbar-thumb:hover {
  background-color: var(--text-secondary);
}

/* .lists-wrapper */
.lists-wrapper::-webkit-scrollbar {
  width: 0.5rem;
}

.lists-wrapper::-webkit-scrollbar-track {
  background-color: transparent;
}

.lists-wrapper:hover::-webkit-scrollbar-thumb,
.lists-wrapper:focus-within::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-bg);
  border-radius: 100vmax;
}

.lists-wrapper::-webkit-scrollbar-thumb:hover {
  background-color: var(--text-secondary);
}
