*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.5;
}

:root {
  --font-primary: "Open Sans", sans-serif;
  --font-secondary: "Montserrat", sans-serif;
}

body {
  min-height: 100svh;
  font-family: var(--font-primary);
  background-color: var(--bg-primary);
  color: var(--text-primary);
}
