*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.5;
}

:root {
  --font-primary: "Nunito", sans-serif;
  --font-secondary: "Raleway", sans-serif;
}

body {
  height: 100svh;
  font-family: var(--font-primary);
  background-color: var(--bg-primary);
  color: var(--text-primary);
}

main {
  height: 100svh;
  display: flex;
  --nav-height: calc(3rem + 1px);
}
