.todos-box {
  --max-width: min(var(--todos-width), 100%);
  width: 100%;
  height: 100%;
  position: relative;
}

.todos-box > * {
  padding-inline: 1rem;
}

.scrolling-list-content {
  width: 100%;
  height: calc(100% - var(--nav-height));
  overflow: auto;
  scroll-behavior: smooth;
}

.active-list-heading {
  color: var(--text-secondary);
}

.no-active-list-box::after {
  content: "No List Selected";
  font-size: 1.5em;
  font-family: var(--font-secondary);
  width: 100%;
  height: calc(100% - var(--nav-height));
  display: flex;
  align-items: center;
  justify-content: center;
}

.list-header {
  width: var(--max-width);
  margin-inline: auto;
  padding-block: 1.5rem;
  font-family: var(--font-secondary);
}

.todos-wrapper {
  width: var(--max-width);
  margin-inline: auto;
  list-style: none;
}

.no-todos-wrapper::before {
  content: "No Todos Here";
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0.75rem;
  font-family: var(--font-secondary);
}

.list-button-wrapper {
  width: var(--max-width);
  margin-inline: auto;
  padding-block: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  transition: margin var(--transition-duration)
    var(--transition-timing-function);
}

.list-button-wrapper button {
  padding: 0.25rem 0.5rem;
  border: 1px solid transparent;
  background-color: transparent;
  font: inherit;
  font-size: inherit;
  border-radius: 0.25rem;
  cursor: pointer;
  color: var(--text-secondary);
  outline: transparent;
}

.list-button-wrapper button:hover {
  color: var(--text-primary);
}

.list-button-wrapper button:focus-visible {
  border-color: var(--accent-color);
}

.no-active-list-box > *:not(.list-nav-wrapper) {
  display: none;
}

@media screen and (max-width: 768px) {
  .lists-heading {
    display: none;
  }

  .lists-box {
    height: calc(100% - var(--nav-height));
    width: 100%;
    position: fixed;
    left: -101%;
    top: var(--nav-height);
    z-index: 200;
    transition: left var(--transition-duration)
      var(--transition-timing-function);
  }

  .show-lists .lists-box {
    left: 0%;
  }
}
