.todo {
  --button-size: calc(2rem + 4px);
  width: 100%;
  display: flex;
  align-items: center;
  border: 2px solid transparent;
  padding: 0.25rem;
  background-color: var(--bg-secondary);
  border-radius: 0.25rem;
  transition: margin var(--transition-duration)
    var(--transition-timing-function);
  animation: in-animation var(--transition-duration)
    var(--transition-timing-function) 1 forwards;
  outline: none;
}

.todo:focus-visible {
  border-color: var(--accent-color);
}

.todo:not(:first-of-type) {
  margin-top: 1rem;
}

@keyframes in-animation {
  0% {
    opacity: 0;
    transform: translateY(1rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0rem);
  }
}

.todo-button-wrapper button,
.todo-checkbox {
  background-color: transparent;
  outline: transparent;
  font-size: inherit;
  font-family: inherit;
  color: inherit;
  border: 2px solid transparent;
  border-radius: 0.25rem;
}

.todo-checkbox {
  --size: var(--button-size);
  width: var(--size);
  height: var(--size);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  flex-shrink: 0;
  position: relative;
}

.todo-checkbox::before {
  content: "";
  --size: 65%;
  width: var(--size);
  height: var(--size);
  border: 2px solid var(--text-secondary);
  border-radius: 100%;
  transition: border-radius var(--transition-duration)
      var(--transition-timing-function),
    width var(--transition-duration) var(--transition-timing-function),
    transform var(--transition-duration) var(--transition-timing-function);
}

[data-done="true"] .todo-checkbox::before {
  width: calc(var(--size) / 2);
  border-width: 0px 2px 2px 0px;
  border-radius: 0;
  --translate: -10%;
  transform: rotate(45deg) translate(var(--translate), var(--translate));
}

.todo-content {
  padding: calc(0.25rem);
  max-width: calc(100% - (3 * var(--button-size)));
  margin-right: auto;
  position: relative;
  outline: none;
  border: 2px solid transparent;
  border-radius: 0.25rem;
}

.todo-content[contenteditable="true"] {
  border-color: var(--border-color-primary);
}

.todo-content[contenteditable="true"]:focus-visible {
  border-color: var(--accent-color);
}

.todo-content::before {
  content: "";
  position: absolute;
  top: 0.25rem;
  bottom: 0.25rem;
  right: 0.25rem;
  --strike-through-color: var(--text-secondary);
  background-image: linear-gradient(
    transparent 0rem,
    transparent calc((1.5em / 2) - 1px),
    var(--strike-through-color) calc((1.5em / 2) - 1px),
    var(--strike-through-color) calc((1.5em / 2) + 1px),
    transparent calc((1.5em / 2) + 1px),
    transparent 1.5em
  );
  background-repeat: repeat;
  background-size: 100% 1.5em;
  width: 0%;
  transition: width var(--transition-duration) var(--transition-timing-function);
  pointer-events: none;
}

.todo[data-done="true"] .todo-content::before {
  width: calc(100% - 0.5rem);
  left: 0.25rem;
}

.todo-button-wrapper {
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

[data-done="true"] .edit-todo-button {
  display: none;
}

.edit-todo-button,
.delete-todo-button {
  --size: var(--button-size);
  width: var(--size);
  height: var(--size);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.todo-checkbox:focus-visible,
.edit-todo-button:focus-visible,
.delete-todo-button:focus-visible {
  border-color: var(--accent-color);
}

.todo-icon {
  --size: 80%;
  fill: var(--text-secondary);
  width: var(--size);
  height: var(--size);
}

.todo-content[contenteditable="true"] + .todo-button-wrapper .edit-todo-icon,
.todo-content[contenteditable="false"] + .todo-button-wrapper .save-todo-icon {
  display: none;
}

.todo-checkbox:hover::before {
  border-color: var(--text-primary);
}

.edit-todo-button:hover .todo-icon,
.delete-todo-button:hover .todo-icon {
  fill: var(--text-primary);
}
