.todos-box {
  --max-width: 500px;
  width: 100%;
  height: 100%;
  position: relative;
}

.todos-list-content {
  width: 100%;
  height: 100%;
  overflow: auto;
  position: absolute;
  inset: 0;
  padding-bottom: calc(4.5rem + 4px);
}

.todos-wrapper {
  list-style: none;
}

.list-header {
  width: var(--max-width);
  margin-inline: auto;
  padding-block: 1rem;
  font-family: var(--font-secondary);
}

.active-list-heading {
  display: inline;
}

.todos-wrapper {
  width: var(--max-width);
  margin-inline: auto;
}

.no-todos {
  width: 100%;
  animation: in-animation 200ms ease 1 forwards;
  padding: 0.75rem;
  border: 0px solid var(--bg-tertiary);
  text-align: center;
  font-style: italic;
}

.list-button-wrapper {
  width: var(--max-width);
  margin-inline: auto;
  padding-block: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  transition: margin 200ms ease;
}

.list-button-wrapper button {
  padding: 0.25rem 0.75rem;
  border: 1px solid transparent;
  background-color: transparent;
  font: inherit;
  font-size: inherit;
  border-radius: 0.25rem;
  cursor: pointer;
  color: var(--text-secondary);
  outline: transparent;
}

.list-button-wrapper button:hover {
  color: var(--text-primary);
}

.list-button-wrapper button:focus-visible {
  border-color: var(--border-color-active);
}
